/* style.css */
    body{
            background-color: rgb(255, 252, 252) ;
            font-family: 'Times New Roman', Times, serif;
            color: rgb(167, 116, 214);
            margin: 0;
            padding: 0%;
        }
        header{
background-color: rgb(255, 255, 255) ;
color:pink ;
padding: 10px;
text-align: center;
        }
        nav a{
            color: paleturquoise;
            text-decoration: none;
            padding: 10px;
        }
        nav a :hover{
            background-color:paleturquoise ;
        }
        section{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        article{
            background-color: rgb(255, 248, 248);
            border: 1px solid   black;
            box-shadow: 0 0 10px;
            margin: 10px;
            padding: 10px;
            width:300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        article h2{
            margin-top: 0;
        }
        article p{
            margin-bottom: 0;
        }
            footer{
                background-color: aquamarine;
                color: black;
                padding:20px;
                text-align: center;
            }
            footer a{
                color: aquamarine;
                text-decoration: none;
                padding: 10px;
            }
            footer a:hover{
                background-color: beige;
            }
