<html>
style.css 
body{
    body{  
        font-size:20px; 
         font-color: #e012e7; 
         background-color:rgb(250, 250, 250);
         font-family: 'Georgia', Times, serif;
    }}
}
h1{
    font-weight: bold;
    font-color:purple;
}
.p1{
    font-color:blue;

}
</html>
